workflows/video_subtitle_workflow.json
{
  "name": "Video Subtitle Pipeline",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "edited_message"
        ],
        "additionalFields": {}
      },
      "id": "28024487-a761-448f-9c73-fb797ff5d583",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -1776,
        320
      ],
      "webhookId": "61161219-d350-47e9-be41-e772948295c6",
      "credentials": {
        "telegramApi": {
          "id": "je4h1qJ6FUtsoNKN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "file-condition",
                    "leftValue": "={{ $json.message.video }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "file"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "link-condition",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "http",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "link"
            }
          ]
        },
        "options": {}
      },
      "id": "122becce-57ef-4abf-9f55-3da78b6939c8",
      "name": "Check Input Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1408,
        320
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.video.file_id }}",
        "additionalFields": {
          "mimeType": "video/mp4"
        }
      },
      "id": "62816688-2ca7-4cb9-bb40-eb719f48c711",
      "name": "Get Telegram File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1184,
        224
      ],
      "webhookId": "27b0aec2-41d7-4c8e-bef3-bb9dd90dd67d",
      "credentials": {
        "telegramApi": {
          "id": "je4h1qJ6FUtsoNKN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.message.text }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "2f1f93c6-5010-48b5-be93-4642dd6fa0bc",
      "name": "Download Video URL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1008,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video-processing:8100/extract-audio-from-url",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"={{ $input.first().json.message.text.trim() }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio_file"
            }
          }
        }
      },
      "name": "Extract Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -912,
        256
      ],
      "id": "b515e6d4-3baf-4e59-92e9-0241c9d95ecd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://auto-subtitle-api:9000/asr",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "audio_file"
            },
            {
              "name": "task",
              "value": "transcribe"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "output",
              "value": "srt"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "srt_file"
            }
          }
        }
      },
      "id": "9ff9193f-601e-4940-9205-ff8f7cefd52e",
      "name": "Extract Audio & Generate SRT",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -656,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video-processing:8100/burn-subtitles",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "srt_file",
              "inputDataFieldName": "ru_srt_file"
            },
            {
              "parameterType": "formBinaryData",
              "name": "video_file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "result_video_file"
            }
          }
        }
      },
      "id": "3f5b980f-2765-4bae-89e4-27d12afd7914",
      "name": "Burn Subtitles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        448,
        320
      ]
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{593390842}}",
        "binaryData": true,
        "binaryPropertyName": "result_video_file",
        "additionalFields": {
          "caption": "✅ Видео обработано! Добавлены русские субтитры."
        }
      },
      "id": "ae69eba3-e617-401c-bb15-d4f6837c9ecc",
      "name": "Send Result Video",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        320
      ],
      "webhookId": "da4007e2-64bf-4345-b6b4-deaf51e00920",
      "credentials": {
        "telegramApi": {
          "id": "je4h1qJ6FUtsoNKN",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://video-processing:8100/clear",
        "options": {}
      },
      "id": "865b2736-a812-4c21-b245-ba357117b56f",
      "name": "Cleanup Files",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        320
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "srt_file",
        "destinationKey": "srt_file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -464,
        176
      ],
      "id": "e500ddd8-7be0-4a86-830f-f27b79feb5b4",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.MISTRAL_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral-small-latest"
            },
            {
              "name": "messages",
              "value": "={{\n[\n  {\n    \"role\": \"system\",\n    \"content\": \"Ты профессиональный переводчик с английского на русский. Твоя задача - переводить английские субтитры (SRT формат) на русский язык. Получай весь текст SRT файла и возвращай полный перевод на русском в том же SRT формате. Сохраняй структуру: номер субтитров, временные метки, и переведенный текст. Не добавляй пояснений, только перевод.\"\n  },\n  {\n    \"role\": \"user\",\n    \"content\": \"Переведи эти английские субтитры на русский язык:\\n\\n\" + $json.srt_file\n  }\n] \n}}"
            },
            {
              "name": "temperature",
              "value": "={{ 0.1 }}"
            },
            {
              "name": "max_tokens",
              "value": "={{ 4000 }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "10cd4832-506e-4043-a37f-c64d9ab84959",
      "name": "Translate via Mistral AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -240,
        176
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "AvNcUMUbcfPSHL6T",
          "name": "Mistral Cloud account"
        },
        "openAiApi": {
          "id": "kJHVT229ORL7lydh",
          "name": "OpenAi account"
        },
        "deepSeekApi": {
          "id": "PuKJhjkjs05fym4S",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "choices[0].message.content",
        "binaryPropertyName": "ru_srt_file",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -16,
        176
      ],
      "id": "b8844ce8-9aad-4ffc-b687-e45068a8f27c",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        192,
        320
      ],
      "id": "b568120d-18e1-4f4e-b8b6-d1c20912a457",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video-processing:8100/extract-audio",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "video_file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio_file"
            }
          }
        }
      },
      "name": "Extract Audio1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -816,
        560
      ],
      "id": "a8649cb2-196b-4a0f-93b0-b184a008111d"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "file-condition",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "youtube",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "youtube"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "link-condition",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "youtube",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "link"
            }
          ]
        },
        "options": {}
      },
      "id": "7ed22d96-7f15-440b-bbf1-2a6ed7f15f58",
      "name": "Check Input Type1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1168,
        432
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Check Input Type": {
      "main": [
        [
          {
            "node": "Get Telegram File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Input Type1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Telegram File": {
      "main": [
        [
          {
            "node": "Extract Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video URL": {
      "main": [
        [
          {
            "node": "Extract Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Burn Subtitles": {
      "main": [
        [
          {
            "node": "Send Result Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Input Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Audio": {
      "main": [
        [
          {
            "node": "Extract Audio & Generate SRT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Audio & Generate SRT": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Translate via Mistral AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate via Mistral AI": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Burn Subtitles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Result Video": {
      "main": [
        [
          {
            "node": "Cleanup Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Audio1": {
      "main": [
        [
          {
            "node": "Extract Audio & Generate SRT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Input Type1": {
      "main": [
        [
          {
            "node": "Extract Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Video URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aff49bea-f164-49d9-bd60-f84a4c699763",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c25dab2291352216ce6ea98101279e255f088d669a4fde3f3426b8428b9a5e8"
  },
  "id": "cPyeJQrfmwY8m75B",
  "tags": []
}